{% extends "layout.html" %}
{% block title %} Work {% endblock %}
{% block content %}
    <img src="static/profile_pics/Work.png" width="200" height="200">
    <h1>Previous/ Current projects i have worked on <span class="blinking">|</span> </h1>
    </br>
      <h3>
       <img align="left" src="static/profile_pics/Work_1.jpg" width="60" height="60">  <pre style="color: #1dab2f"> 001  :  exedotcom.ca </pre>
      </h3>
         <p>Our Company Wordpress website, membership feature.</p>
      <h3>
       <img align="left" src="static/profile_pics/Work_2.jpg" width="60" height="60"> <pre style="color: #1dab2f"> 002  :  djmajd.com </pre>
      </h3>
         <p>A simple portfolio website for local DJ Majd from Montréal.</p>
      <h3>
       <img align="left"src="static/profile_pics/Work_3.jpg" width="60" height="60"> <pre style="color: #1dab2f"> 003  :  parentsVMR.ca </pre>
      </h3>
         <p> Multilingual support, Online payments and Orders. </p>
        </br>
    <a href="/contact" class="btn btn-lg btn-secondary">Reach Out</a>

{% endblock content %}

